{% extends 'frontend.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block title %}Contacto{% endblock %}

{% block article %}
    <div class="jumbotron">
        <div class="container">
            <h1><kbd>Contacto</kbd></h1>
            <p align="left"> <img src="{{ asset('images/contacto.png') }}"/></p>
        </div>
    </div>
{% endblock %}
            