{% extends 'frontend-wo-login.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block title %}Login{% endblock %}

{% block article %}
<div class="jumbotron">
<div class="container">
<h3><kbd>Log In</kbd></h3>
{% if error %}
    <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="username"><kbd>Username:</kbd></label>
                <div class="col-sm-10">
                <input type="text" id="username" name="_username" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password"><kbd>Password:</kbd></label>
                <div class="col-sm-10">
                <input type="password" id="password" class="form-control" name="_password" />
                </div>
            </div>
            <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                <label><input type="checkbox" name="_remember_me"> No cerrar sesión</label>
                </div>
                </div>
            </div>
            <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
                <a href="{{ url('frontend_static_page', { 'page': 'registration'}) }}">Reg&iacute;strate</a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}

