{% extends 'frontend.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block title %}Sobre Nosotros{% endblock %}

{% block article %}
    <div class="jumbotron">
        <div class="container">
            <h1><kbd>Sobre Nosotros</kbd></h1>
            <div class="panel panel-default">
            <div class="panel-body">
                <p align="justify"> <strong>Special Metals and Products, S.L.</strong>, es una empresa l&iacute;der en el sector de los metales preciosos,  no f&eacute;rreos: y raros, as&iacute; como sus aleaciones. 
                Desde hace m&aacute;s de 25 a&ntilde;os de desarrollo, estamos en condiciones de ofrecer la mejor soluci&oacute;n para nuestros clientes.</p>
                  <p align="justify">Principalmente, trabajamos con los siguientes materiales: Oro (Au); Plata (Ag); Platino (Pt); Paladio (Pd); Iridio (Ir); Rodio (Rh); Titanio (Ti); Tungsteno o Wolframio (W); Molibdeno (Mo); Niobio (Nb); Tantalio (Ta). <br/>
                    <br/>
                    Formada por un equipo de personas con amplia experiencia en este tipo de productos.
                Dispone de los bienes materiales, capacidades t&eacute;cnicas y  empresas colaboradoras de calidad contrastada, para desarrollar, de manera &oacute;ptima, la prestaci&oacute;n del servicio a nuestros clientes y satisfacer sus necesidades de nuestros productos. <br/>
                <br/>
                Con el objetivo de mejorar el servicio hacia nuestros clientes, SMP dispone de un sistema de gesti&oacute;n de la calidad conforme con la Norma UNE-EN ISO 9001:2008, certificado por la Asociaci&oacute;n Espa&ntilde;ola de Normalizaci&oacute;n y Certificaci&oacute;n (AENOR), <a href="http://smp.es/downloads/CertificadoER-0330-2010_ES_2016-04-13.pdf">(CertificadoER-0330-2010_ES_2016-04-13.pdf)</a>.</p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
            