@media screen and (max-width: 480px) {
	.video {
        display: none;
    }

    div.col-home {
		width: 100%;
	    margin: 0 auto;
		float: left;
	}

	.home-material-description {
		text-align: justify;
	}

	.btn-home {
		position: absolute; 
		bottom: 2em; 
		left: 2em;
	}
}

@media screen and (max-width: 768px) {
    .video {
        display: none;
    }

    div.col-home {
		width: 100%;
	    margin: 0 auto;
		float: left;
	}

	.home-material-description {
		text-align: justify;
	}

	.btn-home {
		position: absolute; 
		bottom: 2em; 
		left: 2em;
	}
}

@media screen and (min-width: 1024px) {
	div.col-home {
		width: 33.3%;
	    margin: 1em auto;
		height: 32em; 
		max-height: 32em;
		float: left;
	}

	.home-material-description {
		text-align: justify;
	}

	.btn-home {
		position: absolute; 
		bottom: 1em; 
		left: 2em;
	}
}

.thumbnail-home {
	height: 32em;
	clear: both;
}

.video {
	margin: 1em;
}

#presentation {
	text-align: justify;
	text-decoration: none;
	font-family: arial;
	margin: 1em;
}