@media screen and (max-width: 480px) {
	.max-size {
		max-height: 6%;
	}

	.long-title {
		font-size: 1em;
	}
}

@media screen and (max-width: 768px) {
    .long-title {
		font-size: 1em;
	}

	.max-size {
		max-height: 6%;
	}
}

.max-size {
		max-height: 6%;
	}

article {
	margin-top: 1em;
}
