/*** TYPEAHEAD ***/
@media screen and (max-width: 480px) {
  .form-log {
    float: left; 
    padding-top: 15px;
    margin-right: 20px;
  }

  .typeahead,
  .tt-query,
  .tt-hint {
    width: 100%;
    margin: 0 auto;
    float: left;
    height: 34px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    outline: none;
  }

  .twitter-typeahead {
    width: 100%;
    margin: 0 auto;
    float: left;
  }
  .tt-dropdown-menu {
      width: 100%;
      margin: 0 auto;
      float: left;
  }
  .tt-hint {
      width: 100%;
      margin: 0 auto;
      float: left;
  }

  .tt-menu {
    width: 100%;
    margin: 2px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }  
}

@media screen and (max-width: 768px) {
  .form-log {
    float: left; 
    padding-top: 15px;
    margin-right: 20px;
  }

  .typeahead,
  .tt-query,
  .tt-hint {
    width: 100%;
    margin: 0 auto;
    float: left;
    height: 34px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    outline: none;
  }

  .twitter-typeahead {
    width: 100%;
    margin: 0 auto;
    float: left;
  }
  .tt-dropdown-menu {
      width: 100%;
      margin: 0 auto;
      float: left;
  }
  .tt-hint {
      width: 100%;
      margin: 0 auto;
      float: left;
  }

  .tt-menu {
    width: 100%;
    margin: 2px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }      
}

@media screen and (min-width: 1024px) {
  
}

.form-log {
  float: right; 
  padding-top: 15px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 30px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  outline: none;
}

.twitter-typeahead {
     width: 100%;
}
.tt-dropdown-menu {
     width: 100%;
}
.tt-hint {
     width: 100%;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 2px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 16px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
  text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}
