{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/search.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header max-size">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ url('home') }}"><img alt="SMP" class="navbar-brand img-rounded img-responsive" src="{{ asset('images/smp-ball.png') }}"></a>
          <a href="{{ url('home') }}" class="navbar-brand long-title">Special Metals and Products</a>       
        </div>

        
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

         <li>
          <div class="form-group">
            <form action="javascript:redirectMaterialPage();" method="post" onsubmit="return redirectMaterialPage();" class="navbar-form search-form">
              <div class="input-group" id="the-basics">
                <input type="text" class="typeahead" name="materialSearch" id="materialSearch" placeholder="Materiales">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div>
            </form>
          </div>
          </li>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <!--<li><p class="navbar-text">Conectado como {{ app.user.name ~ ' ' ~ app.user.surname }}</p></li>-->
          <li><a class="navbar-brand" href="{{ url('panel') }}">Mi panel</a></li>
          <li>
            <form class="form-log" action="{{ path('logout') }}" method="post">
              <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-log-out"></span>&nbsp;</button>
            </form>
          </li> 
        {% else %}
          
          <li><a class="navbar-brand" href="{{ url('frontend_static_page', { 'page': 'registration'}) }}">Reg&iacute;strate</a></li>
          <li>
            <form class="form-log" action="{{ path('login') }}" method="post" class="navbar-form">
              <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-log-out"></span>&nbsp;</button>
            </form>
          </li>
        {% endif %}
        </ul>

        </div><!--/.navbar-collapse -->
    </div>
</nav>
</header>
<article>
{% block article %}{% endblock %}
</article>
<aside>
{% block aside %}{% endblock %}
</aside>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/search.js') }}"></script>
<script src="{{ asset('js/the-basics.js') }}"></script>
<script src="{{ asset('js/typeahead.js') }}"></script>
{% endblock %}
